@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
body, div, p {font-family: 'Noto Sans JP', sans-serif;}

.body{
    margin: 3 5 3 5;
    border: 1px solid #2e6c80;
    background-image: url("../main_imgs/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.header1{
    color: #5e9ca0;
    margin: 0 auto;
    text-align: center
}

.header2{
    color: #2e6c80;
}

.yaku{
    color: darkblue;
}

#daemoon{
    width: 90%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.filled{
    margin: 5 10 5 10;
}

#images{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

@media (min-width: 768px){
    #images{
        width: 40%;
        margin-left: 0%;
    }
}